<link rel="import" href="../core-scaffold/core-scaffold.html">
<link rel="import" href="../core-ajax/core-ajax.html">
<link rel="import" href="../core-header-panel/core-header-panel.html">
<link rel="import" href="../core-menu/core-menu.html">
<link rel="import" href="../core-item/core-item.html">
<link rel="import" href="../core-icon-button/core-icon-button.html">
<link rel="import" href="../core-toolbar/core-toolbar.html">
<link rel="import" href="../core-field/core-field.html">
<link rel="import" href="../core-icon/core-icon.html">
<link rel="import" href="../core-input/core-input.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../core-menu/core-submenu.html">
<link rel="import" href="../core-pages/core-pages.html">
<link rel="import" href="../font-roboto/roboto.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../ra-elements/ra-form-layout.html">
<link rel="import" href="../ace-element/ace-element.html">

<polymer-element
        name="ra-basic-layout"
        attributes="plSelected deSelected suSelected daSelected dashboardLayout playerLayout suiteLayout designLayout dashboardFormValues suiteFormValues playerFormValues designFormValues players designs suites config"
        >

    <template>
       <style>
           body {
               font-family: sans-serif;
               margin: 0;
               overflow: hidden;
           }
            :host {
                position: absolute;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
            }

            #core_header_panel {
                background-color: rgb(255, 255, 255);
            }
            #core_toolbar {
                color: rgb(255, 255, 255);
                background-color: rgb(79, 125, 201);
            }
            #core_menu {
                font-size: 16px;
            }
            #core_field {
                left: 20px;
                top: 12px;
                position: absolute;
                width: 200px;
                height: 40px;
                background-color: rgb(250, 247, 247);
            }
            #core_menu1 {
                font-size: 16px;
                left: 32px;
                top: 202px;
                position: absolute;
            }


            /*note the class ra-group-box is assign to the containing div for each field group*/
            /* ra-form-layout css */
            ra-form-layout /deep/ .ra-group-box {
                border-style:dotted;
                border-width:1px;
                border-color: green;
                margin:5px;
                padding:5px 20px;
                width: 50%;
            }

            ra-form-layout /deep/ .ra-group-box-ace {
                border-style:dotted;
                border-width:1px;
                border-color: green;
                margin:5px;
                padding:5px 20px;
                width: 100%;
            }
            /*note the class ra-field-box is assign to the containing div for each field*/

            ra-form-layout /deep/ .ra-field-box {
                border-style:dotted;
                border-width:1px;
                margin:5px;
                padding:5px 20px;
                width: 200px;
            }

            /*note the element assigns an id equal to the fieldAttribute value to the containing div for each
            field so each field can be styled individually.
            */

            ra-form-layout /deep/ #slider {
                background-color: grey;
                width:400px;
            }

            html /deep/ paper-dropdown-menu {
                box-sizing: border-box;
                width: 170px;
            }

            html /deep/ core-menu {
                box-sizing: border-box;
                width: 170px;
            }

            paper-item {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            html /deep/ core-collapse {
                border: 1px solid #ccc;
                padding: 8px;
            }

            html /deep/ core-overlay {
                border: 1px solid #ccc;
                padding: 8px;
                background: #fff;
            }

            .constrained-height {
                height: 150px;
            }

/*            .colored {
                color: #0f9d58;
            }*/

            .dropdown.colored::shadow #ripple,
            .dropdown.colored::shadow #background {
                border: 1px solid #0f9d58;
                background-color: #b7e1cd;
            }

/*            paper-button.colored {
                color: #4285f4;
            }*/

            paper-button[raised].colored {
                background: #4285f4;
                color: #fff;
            }

            paper-button.ra > core-icon {
                margin-right: 4px;
            }

            paper-button.hover:hover {
                background: #eee;
            }

            paper-button.blue-ripple::shadow #ripple {
                color: #4285f4;
            }
/* ra-form-layout end css */
        </style>


        <core-ajax id="videos" auto url="http://friends.akulovs.com/assets/videos/" handleAs="json"></core-ajax>
        <core-ajax id="photos" auto url="http://friends.akulovs.com/assets/photos/" handleAs="json"></core-ajax>
        <core-ajax id="fonts" auto url="http://friends.akulovs.com/assets/fonts/" handleAs="json"></core-ajax>

        <template if="{{isAdmin}}">
            <core-scaffold id="core_scaffold">
                <core-header-panel mode="seamed" id="core_header_panel" navigation flex>
                    <core-toolbar id="core_toolbar">
                        <core-field id="core_field" icon="search" theme="core-light-theme" center horizontal layout>
                            <core-icon icon="search" id="corefield-icon"></core-icon>
                            <input id="corefield-input" placeholder="поиск..." is="core-input" flex>
                        </core-field>
                    </core-toolbar>

                    <core-menu  id="main_menu"  on-core-select="{{mainMenuSelected}}">

                        <core-submenu id="dashboard_submenu" icon="assignment" label="Dashboard" on-core-select="{{dashboardMenuSelected}}">
                        </core-submenu>

                        <core-submenu id="suites_submenu" icon="assignment" label="Сюиты" on-core-select="{{suitesMenuSelected}}">
                            <template repeat="{{ suite in suites }}">
                                <core-item label="{{suite.name}}" horizontal center layout active></core-item>
                            </template>
                        </core-submenu>

                        <core-submenu id="players_submenu" icon="view-quilt" label="Плееры" on-core-select="{{playersMenuSelected}}">
                            <template repeat="{{ player in players }}">
                                <core-item label="{{player.name}}" horizontal center layout></core-item>
                            </template>
                        </core-submenu>

                        <core-submenu id="designs_submenu" icon="theaters" label="Дизайны" on-core-select="{{designsMenuSelected}}">
                            <template repeat="{{ design in designs }}">
                                <core-item label="{{design.name}}" horizontal center layout></core-item>
                            </template>
                        </core-submenu>

                        <core-submenu opened active id="settings_submenu" icon="settings" label="Инструменты" on-core-select="{{settingsMenuSelected}}">
                            <!--<core-item id="editor_submenu" label="Редактор" horizontal center layout></core-item>-->
                            <core-item id="settings_submenu" label="Настройки" horizontal center layout active></core-item>
                        </core-submenu>

                    </core-menu>

                </core-header-panel>
                <div id="div" tool>Rationale</div>

                <core-pages selected="{{ $.main_menu.selected | debug}}" selectedindex="{{ $.main_menu.selectedIndex }}" notap id="core_pages">

                    <section id="dashboard">
                        <ra-form-layout id='dashboardFormLayout' formItems="{{dashboardLayout}}" formValues="{{dashboardFormValues}}" loadexternal=false>
                        </ra-form-layout>
                            <paper-button  class="colored ra" id="daUpdate" on-click={{daUpdate}}><core-icon icon="check"></core-icon>
                                Готово
                            </paper-button>
                    </section>

                    <section id="suite_editor">
                        <ra-form-layout id='suiteFormLayout' formItems="{{suiteLayout}}" formValues="{{suiteFormValues}}" loadexternal=false>
                        </ra-form-layout>
                        <template if="{{suSelected !== undefined}}">
                            <paper-button  class="colored ra" id="suUpdate" on-click={{suUpdate}}><core-icon icon="check"></core-icon>
                                Готово
                            </paper-button>
                            <paper-button class="colored ra" id="suNew" on-click={{suNew}}><core-icon icon="add-circle-outline"></core-icon>
                                Новая
                            </paper-button>
                            <paper-button class="colored ra" id="suDelete" on-click={{suDelete}}><core-icon icon="close"></core-icon>
                                Удалить
                            </paper-button>
                        </template>
                    </section>

                    <section id="player_editor">
                            <ra-form-layout id='playerFormLayout' formItems="{{playerLayout}}" formValues="{{playerFormValues}}" loadexternal=false>
                                <div horizontal layout>
                                </div>
                            </ra-form-layout>
                            <template if="{{plSelected !== undefined}}">
                                <paper-button class="colored ra" id="plUpdate" on-click={{plUpdate}}><core-icon icon="check"></core-icon>
                                    Готово
                                </paper-button>
                                <paper-button class="colored ra" id="plNew" on-click={{plNew}}><core-icon icon="add-circle-outline"></core-icon>
                                    Новый
                                </paper-button>
                                <paper-button class="colored ra" id="plDelete" on-click={{plDelete}}><core-icon icon="close"></core-icon>
                                    Удалить
                                </paper-button>
                            </template>
                    </section>

                    <section id="design_editor">
                        <ra-form-layout id='designFormLayout' formItems="{{designLayout}}" formValues="{{designFormValues}}" loadexternal=false>
                        </ra-form-layout>
                        <template if="{{deSelected !== undefined}}">
                            <paper-button class="colored ra" id="deUpdate" on-click={{deUpdate}}><core-icon icon="check"></core-icon>
                                Готово
                            </paper-button>
                            <paper-button class="colored ra" id="deNew" on-click={{deNew}}><core-icon icon="add-circle-outline"></core-icon>
                                Новый
                            </paper-button>
                            <paper-button class="colored ra" id="deDelete" on-click={{deDelete}}><core-icon icon="close"></core-icon>
                                Удалить
                            </paper-button>
                        </template>
                    </section>

                    <section id="settings_editor">
                        <b>Инструменты</b>
                    </section>
                </core-pages>
            </core-scaffold>
        </template>
    </template>
<script>
    Polymer('ra-basic-layout', {
        ready: function () {
            var ajaxv = document.querySelector("body /deep/ #videos");
            ajaxv.addEventListener("core-response",
                    function(e) {
                        var self = this;
                        self.videos = e.detail.response;
                        console.log("videos:", self.videos )
                    }
            );
            var ajaxp = document.querySelector("body /deep/ #photos");
            ajaxp.addEventListener("core-response",
                    function(e) {
                        this.photos = e.detail.response;
                        console.log("photos:", this.photos)
                    }
            );
            var ajaxf = document.querySelector("body /deep/ #fonts");
            ajaxf.addEventListener("core-response",
                    function(e) {
                        this.fonts = e.detail.response;
                        console.log("fonts:", this.fonts)
                        }
            );

            if (typeof(Tracker) !== "undefined") { // This is Meteor application? If yes, autotrack models
                Tracker.autorun(function () {
                    this.players = Players.find().fetch();
                    this.designs = Designs.find().fetch();
                    this.suites = Suites.find().fetch();
                    this.config = Config.find().fetch();
                    this.types = PlayerTypes.find().fetch();
                }.bind(this)); // see about "bind this": http://stackoverflow.com/questions/6188861/javascript-anonymous-function-parameter-passing
            };
            this.isAdmin = true;
            this.videos = undefined;
            this.photos = undefined;
            this.fonts = undefined;
            this.plSelected = undefined;
            this.suSelected = undefined;
            this.deSelected = undefined;
            this.daSelected = undefined;
            this.dashboardFormValues = [];
            this.suiteFormValues = [];
            this.playerFormValues = [];
            this.designFormValues = [];

            this.DashboardLayout = [
                [

                ]
            ];

            this.PlayerLayout = [
                [
                    {"fieldLabel":"ID", "fieldAttribute":"_id", "useControl":"input", "disabled":true, "class":"refreshLabel", "value":""},
                    {"fieldLabel":"Имя", "fieldAttribute":"name", "useControl":"input", "disabled":false, "class":"refreshLabel", "value":""},
                    {"fieldLabel":"Описание", "fieldAttribute":"title", "useControl":"input", "disabled":false, "class":"refreshLabel", "value":""},
                    {"fieldLabel":"IP адрес", "fieldAttribute":"ip", "useControl":"input", "disabled":false, "class":"refreshLabel", "value":""},
                    {"fieldLabel":"Логин", "fieldAttribute":"login", "useControl":"input", "disabled":false, "class":"refreshLabel", "value":""},
                    {"fieldLabel":"Пароль", "fieldAttribute":"password", "useControl":"input", "disabled":false, "class":"refreshLabel", "value":""},
                    {"fieldLabel":"Дизайн", "fieldAttribute":"designId", "useControl":"dropdown", "disabled":false, "class":"refreshLabel", "value":"three", "selectvalues":["one", "two", "three", "four"]},
                    {"fieldLabel":"Тип", "fieldAttribute":"typeId", "useControl":"dropdown", "disabled":false, "class":"refreshLabel", "value":"three", "selectvalues":["one", "two", "three", "four"]},
                ]
            ];
            this.DesignLayout = [
                [
                    {"fieldLabel":"ID", "fieldAttribute":"_id", "useControl":"input", "disabled":true, "class":"refreshLabel", "value":""},
                    {"fieldLabel":"Имя", "fieldAttribute":"name", "useControl":"input", "disabled":false, "class":"refreshLabel", "value":""},
                    {"fieldLabel":"Описание", "fieldAttribute":"title", "useControl":"input", "disabled":false, "class":"refreshLabel", "value":""},
                    {"fieldLabel":"URL", "fieldAttribute":"origin", "useControl":"input", "disabled":false, "class":"refreshLabel", "value":""},
                    {"fieldLabel":"Тип", "fieldAttribute":"typeId", "useControl":"dropdown", "disabled":false, "class":"refreshLabel", "value":"three", "selectvalues":["one", "two", "three", "four"]},
                    {"fieldLabel":"Содержимое", "fieldAttribute":"content", "useControl":"ace", "disabled":false, "class":"refreshLabel", "value":""}
                ]
            ];
            this.SuiteLayout = [
                [
                    {"fieldLabel":"ID", "fieldAttribute":"_id", "useControl":"input", "disabled":true, "class":"refreshLabel", "value":""},
                    {"fieldLabel":"Имя", "fieldAttribute":"name", "useControl":"input", "disabled":false, "class":"refreshLabel", "value":""},
                    {"fieldLabel":"Описание", "fieldAttribute":"title", "useControl":"input", "disabled":false, "class":"refreshLabel", "value":""},
                    {"fieldLabel":"Соответствия", "fieldAttribute":"pairs", "useControl":"input", "disabled":false, "class":"refreshLabel", "value":""}
                ]
            ];
        },
        mainMenuSelected: function (e, detail, sender) {
            if (e.detail.isSelected) {
                console.log("main menu selected: ", e.target.selectedItem.label);
                if (e.target.selectedItem.label === "Dashboard"){
                    this.dashboardMenuSelected(e, detail,sender);
                }
            }
        },

        dashboardMenuSelected: function (e, detail, sender) {
            if (e.detail.isSelected) {
                that = this;
                this.daSelected = parseInt(e.target.selected);
                var da =  this.players[this.plSelected];
                for (var i in this.players){
                    this.DashboardLayout[0][i] = {"fieldLabel":"", "fieldAttribute":"typeId", "useControl":"dropdown", "disabled":false, "class":"refreshLabel", "value":"", "selectvalues":[]};
                    this.DashboardLayout[0][i].fieldLabel = "Плеер " + this.players[i].name;
                    this.DashboardLayout[0][i].value = this.players[i].designId;
                    var a = this.players[i].typeId;
                    this.DashboardLayout[0][i].selectvalues = _.pluck(this.designs.filter(function (j) {return j.typeId === a}), "name");
                };
                console.log("dashboard menu selected: ");

                this.$.dashboardFormLayout.loadFormItems(this.DashboardLayout);
            }
        },

        playersMenuSelected: function (e, detail, sender) {
            if (e.detail.isSelected) {
                var that = this;

                this.plSelected = parseInt(e.target.selected);
                var pl =  this.players[this.plSelected];

                this.PlayerLayout[0][0].value = pl._id;
                this.PlayerLayout[0][1].value = pl.name;
                this.PlayerLayout[0][2].value = pl.title;
                this.PlayerLayout[0][3].value = pl.ip;
                this.PlayerLayout[0][4].value = pl.login;
                this.PlayerLayout[0][5].value = pl.password;
                this.PlayerLayout[0][6].value = pl.designId;
                var a = this.players[this.plSelected].typeId;
                this.PlayerLayout[0][6].selectvalues = _.pluck(this.designs.filter(function (i) {return i.typeId === a}), "name");
                this.PlayerLayout[0][7].selectvalues = _.pluck(this.types, "name");
                this.PlayerLayout[0][7].value = pl.typeId;
                console.log("players menu selected: ", that, this.players[this.plSelected]);
                //debugger;
                document.querySelector('body /deep/ #playerFormLayout').loadFormItems(this.PlayerLayout);
            }
        },
        suitesMenuSelected: function (e, detail, sender) {
            if (e.detail.isSelected) {
                var that = this;
                this.suSelected = parseInt(e.target.selected);
                var su =  this.suites[this.suSelected];

                this.SuiteLayout[0][0].value = su._id;
                this.SuiteLayout[0][1].value = su.name;
                this.SuiteLayout[0][2].value = su.title;
                this.SuiteLayout[0][3].value = su.pairs;
                console.log("suites menu selected: ", that, this, e.target.selectedItem.label);
                document.querySelector('body /deep/ #suiteFormLayout').loadFormItems(this.SuiteLayout);
            }
        },
        designsMenuSelected: function (e, detail, sender) {
            if (e.detail.isSelected) {
                var that = this;

                this.deSelected = parseInt(e.target.selected);
                var de =  this.designs[this.deSelected];

                this.DesignLayout[0][0].value = de._id;
                this.DesignLayout[0][1].value = de.name;
                this.DesignLayout[0][2].value = de.title;
                this.DesignLayout[0][3].value = de.origin;
                this.DesignLayout[0][4].value = de.typeId;
                this.DesignLayout[0][4].selectvalues = _.pluck(this.types, "name");
                this.DesignLayout[0][5].value = de.content;
                console.log("players menu selected: ", that, e.target.selectedItem.label);
                document.querySelector('body /deep/ #designFormLayout').loadFormItems(this.DesignLayout);
            }
        },
        settingsMenuSelected: function (e, detail, sender) {
            e.detail.isSelected && console.log("settings menu selected: ", e.target.selectedItem.label);
        },
        plGetValues: function (){
            var pl = JSON.parse(JSON.stringify(this.players[this.plSelected]));
            pl._id = this.PlayerLayout[0][0].value;
            pl.name = this.PlayerLayout[0][1].value;
            pl.title = this.PlayerLayout[0][2].value;
            pl.ip = this.PlayerLayout[0][3].value;
            pl.login = this.PlayerLayout[0][4].value;
            pl.password = this.PlayerLayout[0][5].value;
            pl.designId = this.PlayerLayout[0][6].value;
            pl.typeId = this.PlayerLayout[0][7].value;
            return pl;
        },
        plNew: function (a,b,c){
            //this.players.push(this.plGetValues());
            Players.insert(_.omit(this.plGetValues(), '_id'));
        },
        plUpdate: function (a,b,c){
            this.players[this.plSelected] = this.plGetValues();
            Players.update(this.players[this.plSelected]._id, _.omit(this.players[this.plSelected], "_id"));
        },
        plDelete: function (a,b,c){
            Players.remove(this.players[this.plSelected]._id);
            //this.players.splice([this.plSelected],1);
        },
        deGetValues: function (){
            var de = JSON.parse(JSON.stringify(this.designs[this.deSelected]));
            de._id = this.DesignLayout[0][0].value;
            de.name = this.DesignLayout[0][1].value;
            de.title = this.DesignLayout[0][2].value;
            de.origin = this.DesignLayout[0][3].value;
            de.typeId = this.DesignLayout[0][4].value;
            de.content = this.$.designFormLayout.aceInput; //this.DesignLayout[0][5].value;
            return de;
        },
        deNew: function (a,b,c){
            //this.designs.push(this.deGetValues());
            Designs.insert(_.omit(this.deGetValues(), '_id'));
        },
        deUpdate: function (a,b,c){
            this.designs[this.deSelected] = this.deGetValues();
            Designs.update(this.designs[this.deSelected]._id, _.omit(this.designs[this.deSelected], '_id'));
        },
        deDelete: function (a,b,c){
            Designs.remove(this.designs[this.deSelected]._id);
            //this.designs.splice([this.deSelected],1);
        },
        daUpdate: function (a,b,c){
            for (var i in this.players){
                this.players[i].designId = this.DashboardLayout[0][i].value;
                Players.update(this.players[i]._id, _.omit(this.players[i], '_id'));
            }
        },
        suGetValues: function (){
            var su = JSON.parse(JSON.stringify(this.suites[this.suSelected]));
            su._id = this.SuiteLayout[0][0].value;
            su.name = this.SuiteLayout[0][1].value;
            su.title = this.SuiteLayout[0][2].value;
            su.pairs = this.SuiteLayout[0][3].value;
            return su;
        },
        suNew: function (a,b,c){
            //this.suites.push(this.suGetValues());
            Suites.insert(_.omit(this.suGetValues(), '_id'));
        },
        suUpdate: function (a,b,c){
            this.suites[this.suSelected] = this.suGetValues();
            Suites.update(this.suites[this.suSelected]._id, _.omit(this.suites[this.suSelected], '_id'));
        },

        suDelete: function (a,b,c){
            Suites.remove(this.suites[this.suSelected]._id);
            // this.suites.splice([this.suSelected],1);
        },
        debug: function (a){
            console.log("debugger:", a);
            return a;
        }
    });
</script>
</polymer-element>

<!--
<ra-basic-layout id="ra-basic-layout"></ra-basic-layout>-->
