<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<polymer-element name="crud-buttons" attributes="updateonly onaction collection elementid" noscript>
    <template>
            <paper-button class="colored ra" id="crud-update" data-action="update" data-collection="{{collection}}" data-elementid="{{elementid}}" on-click={{onaction}}>
                <core-icon icon="check"></core-icon>
                Готово
            </paper-button>
            <template if="{{!updateonly}}">
                <paper-button class="colored ra" id="crud-create" data-action="create" data-collection="{{collection}}" data-elementid="{{elementid}}" on-click={{onaction}}>
                    <core-icon icon="add-circle-outline"></core-icon>
                    Новый
                </paper-button>
                <paper-button class="colored ra" id="crud-delete" data-action="delete" data-collection="{{collection}}" data-elementid="{{elementid}}" on-click={{onaction}}>
                    <core-icon icon="close"></core-icon>
                    Удалить
                </paper-button>
        </template>
    </template>
</polymer-element>